.popup__container {
  position: relative;
  width: 430px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 900px) {
  .popup__container {
    width: 282px;
  }
}
