.popup__input-error {
  position: absolute;
  top: 150px;
  display: block;
  color: #ff0000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 0 37px;
}

@media screen and (max-width: 900px) {
  .popup__input-error {
    margin: 0 0 0 22px;
  }
}
