.profile__add-button {
  background-image: url(../__add-button/Vector.svg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 150px;
  border: 1px solid rgb(255, 255, 255);
  margin: auto 0 auto 0;
  padding: 0;
  }
  .profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
  }

@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 284px;
  }
}
