.popup__close {
  position: absolute;
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 0;
  border: 0;
  top: -40px;
  right: -40px;
}
.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .popup__close {
    transform: scale(63%);
    top: -40px;
    right: -6px;
  }
}
